/*
=================================================================
GITHUB REPO: https://github.com/danieljbell/client-theme-template
=================================================================
*/
.salesforce--hero { position: relative; left: -30px; top: -20px; width: calc(100% + 60px); padding: 20px 30px; }
.salesforce--mountain-right { background-color: #dcf2ff; background-image: url(https://mytinder.s3.amazonaws.com/assets/medias/637724_original.png?1526014970); background-repeat: no-repeat; background-position: bottom right; padding-top: 40px; padding-bottom: 40px; padding-right: 175px; background-size: 100%; }
.salesforce--forest-layout-low { background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0))), url(https://mytinder.s3.amazonaws.com/assets/medias/637725_original.jpg?1526014971); background-image: -webkit-linear-gradient(white, rgba(255, 255, 255, 0)), url(https://mytinder.s3.amazonaws.com/assets/medias/637725_original.jpg?1526014971); background-image: -o-linear-gradient(white, rgba(255, 255, 255, 0)), url(https://mytinder.s3.amazonaws.com/assets/medias/637725_original.jpg?1526014971); background-image: linear-gradient(white, rgba(255, 255, 255, 0)), url(https://mytinder.s3.amazonaws.com/assets/medias/637725_original.jpg?1526014971); background-repeat: no-repeat; background-position: bottom; }
.salesforce--banner--green { position: relative; display: inline-block; z-index: 1; }
#content_editor .salesforce--banner--green, .pdf-page-content .salesforce--banner--green { color: #fff !important; padding: 5px; }
.salesforce--banner--green:after { content: ''; position: absolute; top: 0; left: -45px; width: calc(100% + 90px); bottom: 0; background-image: url(https://mytinder.s3.amazonaws.com/assets/medias/637726_original.png?1526014971); background-size: cover; z-index: -1; }
.salesforce--pulled-box { background-color: #f4f4f4; margin: 15px 0 15px 15px; padding: 20px; position: relative; font-size: 18px; }
.salesforce--pulled-box:after { width: 0; height: 0; top: 45px; border: solid transparent; content: " "; position: absolute; border-width: 20px; right: 100%; border-right-color: #f4f4f4; }
#content_editor .salesforce--pulled-box h2 { font-size: 1em !important; line-height: 1 !important; }
#content_editor .salesforce--pulled-box p, #content_editor .salesforce--pulled-box li { font-size: 0.8em !important; line-height: 1.2 !important; margin-bottom: 0.5em !important; }
#content_editor .salesforce--blockquote, .pdf-page-content .salesforce--blockquote { margin: 0 !important; }
.salesforce--blockquote-headshot { border-radius: 50%; max-width: 125px !important; display: block; margin: 0 auto 1em; }
.salesforce--blockquote-logo { max-width: 115px !important; max-height: 75px !important; display: block; margin: 0 auto 1em; }
.salesforce--blockquote-person { text-transform: uppercase; }
.salesforce--customer-success { text-align: center; }
.salesforce--customer-success .salesforce--blockquote { text-align: left; max-width: 250px; position: relative; z-index: 1; padding: 0 15px; display: inline-block; background-color: #fff; }
#content_editor .salesforce--customer-success .salesforce--blockquote, .pdf-page-content .salesforce--customer-success .salesforce--blockquote { margin: 0 30px 0 0 !important; }
#content_editor .salesforce--customer-success .salesforce--blockquote:last-child, .pdf-page-content .salesforce--customer-success .salesforce--blockquote:last-child { margin-right: 0 !important; }
.salesforce--customer-success .salesforce--blockquote:after { content: ''; position: absolute; top: 63px; left: 0; right: 0; border-top: 3px solid #00a1e0; z-index: -1; }
.salesforce--icon-list { display: table; }
.salesforce--icon-icon, .salesforce--icon-content { display: table-cell; vertical-align: top; }
.salesforce--icon-icon { width: 50px; }
.salesforce--icon-content { padding-left: 15px; }
#content_editor ul, .pdf-page-content ul, #content_editor ol, .pdf-page-content ol { padding-left: 1em !important; margin-bottom: 1em !important; }
#content_editor ul li, .pdf-page-content ul li, #content_editor ol li, .pdf-page-content ol li { font-size: 16px !important; color: #505050 !important; }
#content_editor table, .pdf-page-content table { margin-bottom: 1em; }
.salesforce--has-text-white { color: #fff !important; }
.salesforce--has-text-brand-two { color: #00a1e0 !important; }
.salesforce--has-text-center { text-align: center !important; }
.salesforce--pad-y { padding-top: 30px !important; padding-bottom: 30px !important; }
.salesforce--pad-y--more { padding-top: 60px !important; padding-bottom: 60px !important; }
.salesforce--pad-t { padding-top: 30px !important; }
.salesforce--pad-t--more { padding-top: 60px !important; }
.salesforce--pad-b { padding-bottom: 30px !important; }
.salesforce--pad-b--more { padding-bottom: 60px !important; }
.salesforce--pad-x { padding-left: 30px !important; padding-right: 30px !important; }
.salesforce--pad-x--more { padding-left: 60px !important; padding-right: 60px !important; }
.salesforce--pad-l { padding-left: 30px !important; }
.salesforce--pad-l--more { padding-left: 60px !important; }
.salesforce--pad-r { padding-right: 30px !important; }
.salesforce--pad-r--more { padding-right: 60px !important; }
.salesforce--mar-y { margin-top: 30px !important; margin-bottom: 30px !important; }
.salesforce--mar-y--more { margin-top: 60px !important; margin-bottom: 60px !important; }
.salesforce--mar-t { margin-top: 30px !important; }
.salesforce--mar-t--more { margin-top: 60px !important; }
.salesforce--mar-b { margin-bottom: 30px !important; }
.salesforce--mar-b--more { margin-bottom: 60px !important; }
.salesforce--mar-b--neg { margin-bottom: -30px !important; }
.salesforce--mar-b--none { margin-bottom: 0px !important; }
.salesforce--mar-x { margin-left: 30px !important; margin-right: 30px !important; }
.salesforce--mar-x--more { margin-left: 60px !important; margin-right: 60px !important; }
.salesforce--mar-l { margin-left: 30px !important; }
.salesforce--mar-l--more { margin-left: 60px !important; }
.salesforce--mar-r { margin-right: 30px !important; }
.salesforce--mar-r--more { margin-right: 60px !important; }
.salesforce--b-a { border: 1px solid #fff; }
.salesforce--full-width { position: relative; left: -30px; width: calc(100% + 60px); }
@media screen and (max-width: 735px) { #content_editor .salesforce--hero h1 { font-size: 24px; line-height: 1.2 !important; } .salesforce--mountain-right { padding-bottom: 20px; padding-right: 30px; background-image: -webkit-gradient(linear, left top, left bottom, from(#dcf2ff), to(rgba(220, 242, 255, 0.6))), url(https://mytinder.s3.amazonaws.com/assets/medias/637724_original.png?1526014970); background-image: -webkit-linear-gradient(#dcf2ff, rgba(220, 242, 255, 0.6)), url(https://mytinder.s3.amazonaws.com/assets/medias/637724_original.png?1526014970); background-image: -o-linear-gradient(#dcf2ff, rgba(220, 242, 255, 0.6)), url(https://mytinder.s3.amazonaws.com/assets/medias/637724_original.png?1526014970); background-image: linear-gradient(#dcf2ff, rgba(220, 242, 255, 0.6)), url(https://mytinder.s3.amazonaws.com/assets/medias/637724_original.png?1526014970); background-position: bottom right; } .salesforce--pulled-box { margin: 15px 0 0; } .salesforce--pulled-box:after { top: auto; bottom: 100%; left: 25px; right: auto; border-right-color: transparent; border-bottom-color: #f4f4f4; } }
@media screen and (max-width: 568px) { .salesforce--mar-x { margin-left: 0px !important; margin-right: 0px !important; } }

/*# sourceMappingURL=client-theme.css.map */
