// ================================================================================================================
// Every class in this file SHOULD be prefixed with some sort of client name abbreviation.
// Make sure to update all instances of that name and save this file.
// If in sublime text, select "salesforce" then you can update all to the chosen client name abbrevation.
// ================================================================================================================

// ===========
// TYPOGRAPHY
// ===========
.salesforce--has-text-white {
  color: #fff !important;
}

.salesforce--has-text-brand-two {
  color: $brand-two !important;
}

.salesforce--has-text-center {
  text-align: center !important;
}


// ========
// SPACING
// ========
.salesforce--pad-y {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  &--more {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
}

.salesforce--pad-t {
  padding-top: 30px !important;
  &--more {
    padding-top: 60px !important;
  }
}

.salesforce--pad-b {
  padding-bottom: 30px !important;
  &--more {
    padding-bottom: 60px !important;
  }
}

.salesforce--pad-x {
  padding-left: 30px !important;
  padding-right: 30px !important;
  &--more {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}

.salesforce--pad-l {
  padding-left: 30px !important;
  &--more {
    padding-left: 60px !important;
  }
}

.salesforce--pad-r {
  padding-right: 30px !important;
  &--more {
    padding-right: 60px !important;
  }
}

.salesforce--mar-y {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  &--more {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }
}

.salesforce--mar-t {
  margin-top: 30px !important;
  &--more {
    margin-top: 60px !important;
  }
}

.salesforce--mar-b {
  margin-bottom: 30px !important;
  &--more {
    margin-bottom: 60px !important;
  }
  &--neg {
    margin-bottom: -30px !important;
  }
  &--none {
    margin-bottom: 0px !important;
  }
}

.salesforce--mar-x {
  margin-left: 30px !important;
  margin-right: 30px !important;
  @media screen and (max-width: 568px) {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  &--more {
    margin-left: 60px !important;
    margin-right: 60px !important;
  }
}

.salesforce--mar-l {
  margin-left: 30px !important;
  &--more {
    margin-left: 60px !important;
  }
}

.salesforce--mar-r {
  margin-right: 30px !important;
  &--more {
    margin-right: 60px !important;
  }
}

.salesforce--b-a {
  border: 1px solid #fff;
}

.salesforce--full-width {
  position: relative;
  left: -30px;
  width: calc(100% + 60px);
}