.salesforce--logos-list {
  display: flex !important;
  align-items: center;
  @media screen and (max-width: 568px) {
    display: block !important;
    margin-bottom: 1.5em;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 150px !important;
  }
  
  .salesforce--pulled-box {
    @media screen and (max-width: 568px) {
      margin: 25px 0 0;
    }
  }

  .salesforce--pulled-box:after {
    top: 50%;
    transform: translateY(-50%);
    @media screen and (max-width: 568px) {
      bottom: 100%;
      top: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }

}